/* reset */

* {
  /* outline: 1px solid red; */
  font-family: "Open Sans", sans-serif;
}

body {
  min-width: 1000px;
  margin: 0;
  /* padding: 0; */
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
  color: #000;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: fill;
}

/* 
@media(max-width: 1000px) {

    body {
        width: 100%;
    }

    * {
        outline: 0px;
    }

} */

/* 建立全域變數
:root {
	--green: rgb(0, 155, 95);
} */
