* {
  outline: 1px solid red;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}


/*header*/
header{
  background-color: #EDEDED;
  font-size: 0; /*處理header區inline-block縫隙*/
  text-align: center;
  padding: 20px 0;
}


.logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.logo_link{
  display: inline-block; /*整個.logo都能點到連結*/
}

.logo_name{
  font-size: 16px;
  color: #000 ;
  font-weight: 400;
}
.menu{
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 100px;
}
.menu_list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu_item{
  display: inline-block;
}
.menu_item + .menu_item{
  margin: 0 0 0 40px;
}
.menu_link{
  display: inline-block;
  font-size: 18px;
  color: #808080;
  padding: 20px 30px;
  
}
.menu_link:hover{
  color: #F99407 ;
}

/*main*/
main{
  padding: 70px 0 100px;
}
/*第一個section*/
.title-area{
  width: 960px;
  margin: 0 auto 100px;
  padding: 0 40px 0 50px;
}
.img_float{
  float:right;
}


.section_imgbox > img{
  width: 360px;
  height: 340px;
  object-fit: contain;
  text-align: right;
  vertical-align: middle;
}

.main_title{
  display: inline-block;
  width: 50%;
}

.main_title > h2{
  font-size: 75px;
  line-height: 1;
}
.main_title > h3{
  font-size: 30px;
  margin: 0 0 5px 0;
}
.main_title > p{
  color: #6c6c6c;
  margin: 0 0 15px 0;
  line-height: 1.3;
}
.clearfix{
  clear:right;
}
.btn_item{
  text-align: center;
}
.btn{
  color: #fff;
  font-size: 20px;
  background:linear-gradient(to bottom,#ffbb51  50%, #F99403 50%);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.btn_item > p{
  font-size: 12px;
  color: #6c6c6c;
  text-align: left;
  padding: 0 0 0 125px;
}



/*第二個section*/
.content_container{
  width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.article_content{
  column-count: 2;
  column-gap: 40px;
}
.article_title{
  font-size: 28px;
  column-span: all;
  margin: 0 0 30px 0;
}
.article_content p{
  break-inside: avoid;
  color: #575757;
  margin:0 0 30px 0 ;
  line-height: 1.4;
}
/*讓p下方的margin歸零,不要留空白*/
.article_content P:nth-child(3){
  margin: 0;
}
.article_content P:nth-child(6){
  margin: 0;
}

/*footer*/
footer{
  background: #efefef;
  padding: 30px 200px;
  font-size: 0;
  text-align-last: justify;
}

.copyright{
  display: inline-block;
  font-size: 16px;
  color: #5D5D5D;
  vertical-align: middle;

}
.social_media{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: middle;
}

.social_media_item{
  display: inline-block;
  line-height: 1;
  
}
.social_media_item + .social_media_item{
  margin: 0 0 0 20px;
}
.social_media_link{
  display: inline-block;
  font-size: 30px;
  color: #000;
  
}

.social_media_link:hover{
  color: #aaa;
}