* {
  outline: 1px solid red;
}

body {
  margin: 0;
}

/* header */
header {
  background-color: #efefef;
}

nav {
  /* padding: 30px 220px; */
  width: fit-content;
  margin: 0 auto;
  padding: 25px 0;
  font-size: 0;
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: black;
}

a.logo img {
}

a.logo p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 900;
}

ul {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 16px;
}

nav li {
  list-style-type: none;
  float: left;
}
nav li a.highlight {
  color: #f4be69;
}

nav li a {
  display: inline-block;
  padding: 10px 40px;
  color: #a2a2a2;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* main */
main {
  font-family: Arial, Helvetica, sans-serif;
}

section#brief_introduction {
  margin: 50px 20%;
}

div.text_introduction {
  width: 30%;
}
