* {
  outline: 1px solid red;
}

/* font style*/
.title-style {
  color: #303030;
  font-weight: 100;
}

.paragraph-style {
  color: #595959;
  line-height: 1.6;
}

/* body */
body {
  margin: 0;
  min-width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: #efefef;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 64px;
}

header nav {
  width: 919px;
  margin: 0 auto;
  padding: 25px 0;
  font-size: 0;
}

header h1 {
  display: inline-block;
  width: 78px;
  margin-right: 25px;
  vertical-align: middle;
  text-align: center;
}

header .logo {
  display: inline-block;
  text-decoration: none;
}

header img {
  width: 52px;
  height: 80px;
}

header .logo span {
  color: black;
  font-size: 13px;
  font-weight: 900;
}

header ul {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  font-size: inherit;
}

header ul li {
  display: inline-block;
  list-style-type: none;
}

header ul a {
  display: inline-block;
  margin: 0px 35px;
  padding: 10px 20px;
  color: #a2a2a2;
  text-decoration: none;
  font-size: 16px;
}

header ul a:hover {
  color: #f4be69;
}

/* main */
main {
  margin-bottom: 182px;
}

.main-container {
  width: 857px;
  margin: 0 auto;
}

/* section.brief_introduction */
.brief-introduction {
  width: 794px;
  margin: 0 auto 150px;
}

.brief-introduction::after {
  display: block;
  content: "";
  clear: right;
}

.brief-introduction .content {
  display: inline-block;
  width: 369px;
}

.brief-introduction h2,
h3,
p {
  margin: 0;
}

.brief-introduction h2 {
  font-size: 56px;
  line-height: 1;
}

.brief-introduction h3 {
  font-size: 32px;
}

.content > p {
  font-size: 17px;
  margin-bottom: 21px;
}

.brief-introduction .button {
  width: 234px;
  margin: 0 auto;
}

.brief-introduction .button a {
  display: inline-block;
  text-decoration: none;
  line-height: 62px;
  text-align: center;
  color: white;
  background: linear-gradient(
    to bottom,
    #ffba50 0%,
    #ffba50 50%,
    #f99400 50%,
    #f99400 100%
  );
  border: none;
  font-size: 24px;
  border-radius: 4px;
  width: 100%;
}

.brief-introduction .button p {
  font-size: 13px;
}

.brief-introduction img {
  width: 372px;
  float: right;
}

/* section.introduction */
.introduction h3 {
  margin-left: 8px;
  margin-bottom: 28px;
  font-size: 32px;
}

.introduction .content {
  columns: 2;
  column-gap: 39px;
}

.introduction p {
  margin-left: 8px;
  margin-bottom: 28px;
  font-size: 17px;
  break-inside: avoid;
}

/* footer */
footer {
  background-color: #efefef;
  border-top: 1px solid #d7d7d7;
}

footer .container {
  width: 886px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 17px;
  font-size: 0;
}

footer .copyright {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  color: #595959;
  font-size: 12.5px;
}

footer ul {
  display: inline-block;
  padding: 0;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}

footer li {
  display: inline-block;
  list-style-type: none;
}

footer li + li {
  margin-left: 22px;
}

footer li a {
  display: inline-block;
}

footer li i {
  font-size: 30px;
  color: #0c0c0c;
}

footer li i:hover {
  color: #f99400;
}

/* for sticky footer */
.wrap {
  min-height: calc(100vh - 80px);
}
