* {
  outline: 1px solid red;
}

body {
  margin: 0;
}

/* header */
header {
  background-color: #efefef;
}

header nav {
  width: fit-content;
  margin: 0 auto;
  padding: 25px 0;
  font-size: 0;
}

header h1 {
  display: inline-block;
  width: 78px;
  margin-right: 25px;
  margin-left: 29.22px;
  vertical-align: middle;
  text-align: center;
}

header .logo {
  text-decoration: none;
}

header .logo_img {
  display: inline-block;
  width: 52px;
  height: 79px;
  background-image: url("./img/logo.png");
}

header .logo p {
  margin: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 900;
  width: 78px;
}

header ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 16px;
}

header ul li {
  list-style-type: none;
  float: left;
}

header ul a:hover {
  color: #f4be69;
}

header ul a {
  display: inline-block;
  margin: 0px 45px;
  padding: 10px 10px;
  color: #a2a2a2;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* main */
main {
  font-family: Arial, Helvetica, sans-serif;
}
/* section#brief_introduction */
#brief_introduction {
  margin: 50px 20%;
  font-size: 0;
}

#brief_introduction .left_content {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

#brief_introduction .left_content h1,
h3,
p {
  margin: 0;
}

#brief_introduction .left_content h1 {
  font-size: 50px;
  font-weight: 100;
  line-height: 50px;
}

#brief_introduction .left_content h3 {
  font-size: 24px;
  font-weight: 100;
}

#brief_introduction .left_content p {
  font-size: 13px;
  line-height: 1.6;
}

#brief_introduction .button {
  width: fit-content;
  margin: 20px auto;
}

#brief_introduction .button button {
  display: inline-block;
  padding: 12px 30px;
  color: white;
  background: linear-gradient(
    to bottom,
    #ffba50 0%,
    #ffba50 50%,
    #f99400 50%,
    #f99400 100%
  );
  border: none;
  font-size: 20px;
  border-radius: 4px;
}

#brief_introduction .button p {
  font-size: 10px;
}

section#brief_introduction img {
  display: inline-block;
  width: 50%;
}

/* section#introduction */
#introduction {
  margin: 120px 17%;
  font-size: 0;
}

#introduction h3 {
  width: 50%;
  margin: 19px 0;
  font-size: 24px;
  font-weight: 100;
}

#introduction .left_content,
#introduction .right_content {
  display: inline-block;
  width: 46.5%;
  font-size: 13px;
  margin-right: 3.5%;
  line-height: 1.6;
}

/* footer */
footer {
  background-color: #efefef;
}

footer .container {
  width: 886px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 17px;
  font-size: 0;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

footer ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}

footer li {
  list-style-type: none;
  display: inline-block;
  margin-left: 22px;
}

footer a {
  display: inline-block;
}

footer i {
  font-size: 30px;
  color: black;
}

/* for sticky footer */
.wrap {
  min-height: calc(100vh - 79px);
}
