.container {
    width: 980px;
    margin: 0 auto;
}

header {
    background-color: #eeeeee;
}

.header {
    padding: 32px 0;
}

.header__logo {
    display: inline-block;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
}

header img {
    width: auto;
}

.header__logo__text {
    font-size: 16px;
}

.header__logo a {
    color: black;
}

nav {
    display: inline-block;
    margin-left: 52px;
}

ul,
li {
    display: inline-block;
}

nav li + li {
    margin-left: 80px;
}

nav a {
    font-size: 16px;
    color: #717171;
    display: inline-block;
    padding: 20px;
}

.main {
    margin-top: 70px;
    margin-bottom: 200px;
}

.nav__home {
    color: #fa8700;
}

nav a:hover {
    color: #fa8700;
}

section {
    padding: 0 60px 130px 60px;
    text-align-last: justify;
    font-size: 0;
}

.main__block {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.main__ideas-block h1 {
    font-size: 60px;
    line-height: 1;
}

.main__ideas-block h2 {
    font-size: 33px;
}

.main__ideas-block p {
    font-size: 18px;
}

.main__ideas-block {
    text-align-last: left;
}

.try-it {
    margin: 0 auto;
    width: 235px;
    margin-top: 26px;
}

.try-it-button {
    display: block;
    width: 235px;
    height: 65px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(#ffba54 50%, #f99204 50%);
    border-radius: 7px;
    text-align-last: center;
    line-height: 65px;
    border: none;
}

.try-it p {
    font-size: 14px;
}

.main__img {
    display: inline-block;
    width: 390px;
    height: 390px;
}

article {
    padding: 0 40px;
}

.article__title {
    font-size: 21.5px;
}

.article__content {
    text-align: justify;
    text-align-last: justify;
    margin-top: 28px;
}

.article__content p {
    display: inline-block;
    font-size: 18px;
    width: 430px;
    margin: 0 0 38px 0;
    text-align: left;
    text-align-last: left;
}

footer {
    background-color: #eeeeee;
    font-size: 0;
    text-align-last: justify;
}

.footer__copyright {
    display: inline-block;
    margin: 48px 18px;
    vertical-align: middle;
    font-size: 13px;
}

.footer__icon {
    display: inline-block;
    margin-right: 45px;
    vertical-align: middle;
}

.footer__icon a {
    display: inline-block;
}

i {
    color: black;
    font-size: 33px;
    margin-left: 25px;
}
