*{
    outline: 1px red solid;
}

.container{
    width: 980px;
    margin: 0 auto;
}

header{
    background-color: #eeeeee;
}

.header{
    padding: 20px 0;
}

img{
    object-fit: contain;
}

body, 
h1, 
h2, 
p{
    margin: 0;
    font-weight: normal;
}

.header__logo{
    display: inline-block;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
}

.header__logo--text{
    font-size: 16px;
}

.header__logo a{
    color: black;
}

a{
    text-decoration: none;
}

.header__nav{
    display: inline-block;
    margin-left: 30px;
}

.header__nav ul, li{
    display: inline-block;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
    font-size: 0;
}

nav li+li{
    margin-left: 80px;
}

nav a {
    font-size: 16px;
    color: #939393;
    display: inline-block;
    padding: 20px;
    /* margin-left: 50px; */
}

.main{
    margin-top: 40px;
    margin-bottom: 200px;
}


nav a:hover{
    color: orange;
}

.main__top-block{
    padding: 0 80px 150px 80px;
    text-align-last: justify;
    font-size: 0;
}

.main__block{
    width: 390px;
    display: inline-block;
    vertical-align: top;
}

.ideas h1{
    font-size: 48px;
}

.ideas h2{
    font-size: 24px;
}

.ideas p{
    font-size: 16px;
}

.ideas{
    text-align-last: left;
}

.try-it{
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 24px;
}

.try-it-button{
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(#ffba54 50%, #f99204 50%);
    border-radius: 7px;
    text-align-last: center;
    line-height: 50px;
    border: none;
}

.try-it p{
    font-size: 12px;
}

.img{
    display: inline-block;
}
.box-img{
    display: inline-block;
    width: 368px;
    height: 342px;
}

.article{
    padding: 0 60px;
}

.article--content{
    margin-top: 32px;
    columns: 2;
}

.article--content p{
    margin: 0 32px 32px 0;
}

footer{
    background-color: #eeeeee;
    font-size: 0;
    text-align-last: justify;
}

.footer__copyright{
    display: inline-block;
    margin: 48px;
    vertical-align: middle;
    font-size: 16px;
}

.footer__icon{
    display: inline-block;
    margin-right: 70px;
    vertical-align: middle;
}

.footer__icon a{
    display: inline-block;
}

i{
    color: black;
    font-size: 32px;
    margin-left: 16px;
}

.test {
    text-align: justify;
    text-align-last: justify;
    margin-top: 32px;
}


.test p{
    display: inline-block;
    width: 400px;
    margin: 0 0 32px 0;
    text-align: left;
    text-align-last: left;
    margin-right: 20px;
}

