*{
    outline: 1px red solid;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #eeeeee;
}

.container{
    width: 980px;
    margin: 0 auto;
}

.header{
    padding: 20px 0;
}

.header__logo{
    display: inline-block;
    text-align: center;
    width: 120px;
    font-size: 0;
    vertical-align: middle;
}

header h1{
    margin: 0;
}

header p{
    font-size: 16px;
}


nav li a{
    padding: 20px;
    text-decoration: none;
    color: #939393;
    display: inline-block;
    width: 80px;
    text-align: center;
    /* text-align-last: center; */
}

nav li{
    display: inline-block;
    /* padding: 20px 0; */
}

nav li+li{
    margin-left: 30px;
}

nav ul{
    /* width: 750px; */
    /* text-align-last: justify; */
    padding: 0;
    margin: 0;
}

nav{
    display: inline-block;
    margin-left: 50px;
}

.block{
    display: inline-block;
    width: 390px;
}

section{
    padding: 0 80px 150px;
}

.main__content{
    margin: 50px 0 200px;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

.box-img{
    float: right;
}

.ideas-block h1, h2, p{
    margin: 0;
}

.ideas-block h1{
    font-size: 40px;
}

.ideas-block__button{
    width: 200px;
    margin: 20px auto 0;
}

button{
    width: 200px;
    height: 50px;
    background-image: linear-gradient(#ffba54 50%, #f99204 50%);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1.5em;
    cursor: pointer;
}

.ideas-block__button p{
    font-size: 10px;
}

.box-img{
    width: 360px;
    height: 340px;
    object-fit: cover;
}

article{
    margin: 0 60px;
}

.article__content{
    margin-top: 20px;
    columns: 2;
    column-gap: 5px;
}

.article__content p{
    margin: 0 20px 20px 0;
}

footer{
    background-color: #eeeeee
}

.footer{
    text-align-last: justify;
}
.footer__copyright{
    display: inline-block;
    margin: 30px 0 30px 40px;
    vertical-align: middle;
}

.footer__icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 80px;
}

.footer__icon a{
    margin-left: 30px;
}

i{
    color: black;
    font-size: 30px;
}

i:hover{
    color: #f99204;
}