* {
    outline: 1px solid tomato;
    font-weight: 400;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* header */
header {
    background-color: #efefef;
    font-size: 0;
    padding-top: 28px;
    padding-bottom: 40px;
    text-align-last: justify;
}

.widthSetting {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    text-align-last: center;
}

.logo a {
    width: 100px;
    color: black;
}

.logo img {
    width: 70%;
    object-fit: contain;
}

.logo span {
    font-size: 18px;
    display: block;
}

.navbar_container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 80%;
}

.navbar {
    padding: 0;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar a {
    padding: 20px 15px;
    color: #7c7c7c;
}

.hoverColor:hover {
    color: #f99300;
}


/* main */
main {
    margin-bottom: 225px;
}

.section_backgroundColor {
    background-color: #fdfdfd;
    padding-top: 80px;
    padding-bottom: 100px;
}

.section_topic {
    display: inline-block;
    width: 45%;
    margin-left: 50px;
}

.section_topic h2 {
    font-size: 80px;
    line-height: 1;
}

.section_topic h3 {
    font-size: 34px;
}

.section_topic p {
    color: #7c7c7c;
    font-size: 18px;
}


.section_link {
    margin: 35px auto;
    width: 60%;
}

.section_link a {
    background: linear-gradient(#ffb84c 50%, #f99400 50%);
    opacity: 0.9;
    padding: 15px 0;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    text-align: center;
    display: block;
}

.section_link a:hover {
    background: linear-gradient(#ffb84c, #f99400);
}

.section_link span {
    font-size: 16px;
    color: #7c7c7c;
}

.section_img {
    float: right;
    font-size: 0;
    width: 45%;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

.section_img img {
    width: 100%;
    height: 100%;
}

article {
    font-size: 0;
    padding-left: 40px;
}

article.widthSetting {
    max-width: 960px;
    margin-top: 80px;
}

article h3 {
    font-size: 34px;
    margin-bottom: 30px;
}

.article_column {
    column-count: 2;
    column-gap: 40px;
    font-size: 18px;
    color: #7c7c7c;
}

.article_column p:not(:nth-child(3), :nth-last-child(1)) {
    margin-bottom: 20px;
}

/* footer */
footer {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 0;
}

.copyright,
.socialmedia {
    display: inline-block;
    width: 50%;
}

.copyright {
    font-size: 16px;
    vertical-align: middle;
    color: #7c7c7c;
}

.socialmedia {
    font-size: 0;
    text-align: end;
    vertical-align: middle;
}

.socialmedia i {
    font-size: 2.4rem;
    color: black;
}

.socialmedia a:not(:nth-child(1)) {
    margin-left: 30px;
}